/* .footer {
  width: 100%;
  padding: 20px ;
  background-color: #a2adce;
  text-align: center;
  margin-top: 350px;
  margin-bottom: 10px;
  
}

.app-name {
  font-size: 19px;
  font-weight: 500;
  color: #3d3434;
  margin: 20;
}

.copyright {
  font-size: 12px;
  color: #42444b;
 
} */
