

.footer {
  width: 100%;
  padding: 25px 10px;
  background-color: #9babd9;
  text-align: center;
  margin-top: 300px;
  border-top: 2px solid rgb(192, 192, 224);
 
}

.app-name {
  font-size: 19px;
  font-weight: bold;
  color: #505c98;
  margin: 10px;
}

.social-icons {
  margin: 12px 0;
  display: flex;
  gap: 20PX;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #e9ebf5;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.social-icons a:hover {
  transform: scale(1.3) translateY(-5px);
  color: #4025a3;
}

.copyright {
  font-size: 12px;
  color: #7184ca;
  margin: 0;
} 


