.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #d9eafd;
  border-radius: 17px;
}

.column-header {
  background-color: #104e8b; /* Dark Blue from screenshot */
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.column-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
}

/* The Add Task Button Style */
.add-task-btn {
  background-color: white;
  border-radius: 12px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  color: #104e8b;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.2s;
  margin: 0px 5px 10px 5px;
}

.add-task-btn:hover {
  transform: translateY(-2px);
}

.plus-box {
  width: 30px;
  height: 30px;
  border: 2px solid #104e8b;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 0;
  color: #104e8b;
}
.addIcon{
  height: 25px;
}